body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    border: 10px solid #000;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand {
    position: absolute;
    width: 50%;
    height: 6px;
    background-color: #000;
    transform-origin: 100% 50%;
    transform: rotate(90deg);
    transition: transform 0.05s ease-in-out;
}
#circle{
    border-radius: 50%;
    background-color: #000000;
    width: 15px;
    height: 15px;
}
/* ここで位置を微調整します */
#second-hand {
    height: 2px;
    background-color: red;
    left: 0%;
    top: 50%;
    transform-origin: 100% 50%;
}

#minute-hand {
    height: 4px;
    background-color: #000;
    left: 0%;
    top: 50%;
    transform-origin: 100% 50%;
}

#hour-hand {
    height: 6px;
    background-color: #000;
    left: 0%;
    top: 50%;
    transform-origin: 100% 50%;
}
#real-time{
    font-size: 40px;
    text-align: center;
}